@font-face {
    font-family: "Bacalisties" ;
    src: url("./Assets/Fonts/Bacalisties.ttf");
}

@font-face {
    font-family: "Resotho";
    src: url("./Assets/Fonts/Resotho.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #97a6ff;
    font-family: arial;
    color: rgb(26, 26, 26);
  }


  .main-title{
      font-family: "Bacalisties";
    font-size: 3em;
    margin-top: 15px;
  }

  .App{
      display: flex;
      flex-direction: column;
      height: 100vh;
      align-items: center;
  }

  .text__container{

    margin: 75px 0 75px 0;
      &-first{
          display: flex;
          justify-content: center;
          font-family: "Resotho";
          margin: 15px;
      }

      &-second{
          margin: 15px;
      }

      &-third{
          display: flex;
          justify-content: center;
      }
  }

  .formulaire{
    width: 80%;
    margin-top: 15px;

    &-input{
        display: flex;
        flex-direction: column;

        width: 59%;
    }
  }

  .form__input{
    width: 50%;

    &-label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      &-firstQuestion, &-secondQuestion, &-thirdQuestion, &-fourthQuestion,&-fifthQuestion{
          width: 100%;
          height: 100px;
          margin-bottom: 20px;
          margin-top: 10px;
          border-radius: 5px;
          border: 2px solid whitesmoke;
          padding: 15px;
      }
  }