@font-face {
    font-family: "Bacalisties" ;
    src: url("./Assets/Fonts/Bacalisties.ttf");
}

@font-face {
    font-family: "Resotho";
    src: url("./Assets/Fonts/Resotho.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    color: rgb(26, 26, 26);
  }

  body{
    background: rgb(216, 158, 241);
    background: linear-gradient(
      0deg,
      rgba(0, 203, 255, 1) 0%,
      rgba(216, 158, 241, 1) 100%
    );
  }


  .main-title{
      font-family: "Bacalisties";
    font-size: 3em;
    margin-top: 15px;
    color: #f5f5f5;
  }

  .App{
      display: flex;
      flex-direction: column;
      height: auto;
      align-items: center;
  }

  .text__container{
    margin: 75px 0 75px 0;
      &-first{
          display: flex;
          justify-content: center;
          font-family: "Resotho";
          margin: 15px;
          color: #f5f5f5;
      }

      &-second{
          margin: 15px;
      }

      &-third{
          display: flex;
          justify-content: center;
      }
  }

  .formulaire{
    width: 80%;
    margin-top: 15px;

    &-input{
        display: flex;
        flex-direction: column;

        width: 59%;
    }
  }

  .form__input{
    width: 50%;

    &-label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      &-firstQuestion, &-secondQuestion, &-thirdQuestion, &-fourthQuestion,&-fifthQuestion{
          width: 100%;
          height: 100px;
          margin-bottom: 20px;
          margin-top: 10px;
          border-radius: 10px;
          border: 1px solid whitesmoke;
          padding: 15px;
          font-size: 1em;
          outline: none;
          background-color: transparent;
      }

      &-button{
        justify-content: center;
        display: flex;
        margin: 35px 0 50px 0;

        &-validate{
            width: 180px;
            font-family: "Resotho";
            height: 50px;
            color: whitesmoke;
            font-size: 1.2em;
            border-radius: 10px;
            background-color: transparent;
            border: 1px solid whitesmoke;
            transition: all 0.8s;
            cursor: pointer;
            &:hover{
                background-color: #1fc2f3;
                border-color: rgba(128,0,128,.564);
                color: rgba(128,0,128,.564);
            }
        }
      }
  }

.messageAfterSubmitted__container{
  height: 100vh;
}